<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CONTENT_TABLE">
	<insert id="InsertContent" parameterType="Map">
		insert into content_table values(content_seq.nextval, #{url}, #{content}, #{title}, sysdate, 0, 0 )
	</insert>
	<insert id="InsertWord" parameterType="Map">
		insert into word_table values(word_seq.nextval, #{word}, content_seq.currval, 0, #{position}, #{word_type})
	</insert>
	
	<update id="UpdatePageRank" parameterType="crawler.PageRankVO">
			update content_table set pageRank=#{pageRank} where url=#{url}
	</update>
</mapper>


